.bgImg {
    background-image: url("../../imges/homePageImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    overflow-x: auto;
}
.logo1{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}


.myFont{
    text-align: center;
    font-family: homeFont;
    font-size: 106px;
}

@font-face {
    font-family: homeFont;
    src: url("../../fonts/AmaticaSC-Bold.ttf");
  }
  
