.inp_img{
display: flex;
border: 2px rgb(0, 0, 0, 0) solid;
}
.inp_img:hover{
        border: 2px rgb(0, 0, 0) solid;
        /* box-shadow: 0px 0px 0px 1px rgba(0,0,0,1); */
        border-radius: 15px;
}

.inp_img:active{
        border:  2px rgb(241, 105, 7) dashed;
        border-radius: 15px;
}
.imgNewResipeStyle {
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0.5px 0.5px 1px;
}

.inp_continer {
    border-radius: 0px 15px 15px 0px;
    width: 250px;
    height: 100px;
    box-shadow: 0.5px 0.5px 1px;
}

.inp_hide {
    width: 250px;
    height: 100px;
    opacity: 0;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.inp_caver {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trash{
    transition: transform 0s;
}

.trash:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.trash:active{
    border: 2px rgba(241, 104, 7, 0.685) solid;
    border-radius: 3px;
}