.inp_img{
display: flex;
border: 1px rgb(0, 0, 0, 0) solid;
}
.inp_img:hover{
        border: 1px rgb(0, 0, 0) solid;
        border-radius: 5px;
}

.inp_img:active{
        border:  1px rgb(255, 106, 0) solid;
        border-radius: 5px;
}
.imgNewResipeStyle {
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0.5px 0.5px 1px;
}

.inp_continer {
    border-radius: 0px 5px 5px 0px;
    width: 250px;
    height: 100px;
    box-shadow: 0.5px 0.5px 1px;
}

.inp_hide {
    width: 250px;
    height: 100px;
    opacity: 0;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.inp_caver {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trash{
    transition: transform 0s;
}

.trash:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.trash:active{
    border: 2px rgb(241, 104, 7) solid;
    border-radius: 3px;
}