.inputStyle{
    opacity: 1;
}
.imgNewResipeStyle{
    border-radius: 10px;
    background-image: url();
    box-shadow: 0.5px 0.5px 1px ;
}
.newRecipeForm{
border-radius: 30px;
background-color:rgba(255, 255, 255, 0.199);
}