.cardHover {
    transition: transform 1.1s;
    width: 300px;
}
.cardHover:hover {
    box-shadow: 1px 1px 3px #0e010167;
    transform: scale(1.05);
}

.imgStyle {
    filter: blur(1.4px);
    opacity: 0.9;
}

.bgInpot{
background-color: rgba(185, 188, 191, 0.6);
}
/* input[type = "file"]{
    display: none;
} */