.cardHover {
    transition: transform 1.1s;
    width: 100%;
    height: 150px;
  
}
.cardHover:hover {
    filter: drop-shadow(0.5px 0.5px 2px);
    transform: scale(1.05);
}


.imgStyle {
    filter: blur(1.4px);
    opacity: 0.9;
    object-fit: cover;
}
.NewCardHover{
    transition: transform 1.1s;
    width: 100%;
    height: 90px;
  
}
.NewCardHover:hover {
    filter: drop-shadow(0.5px 0.5px 2px);
    transform: scale(1.05);
}