.cardHover {
    transition: transform 1.1s;
    width: 300px;
}
.cardHover:hover {
    filter: drop-shadow(0.5px 0.5px 2px);
    transform: scale(1.05);
}


.imgStyle {
    filter: blur(1.4px);
    opacity: 0.9;
}