.recipeViowMain{
    width: fit-content;
}

.RecipeViewContiner{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.199);
    font-size: xx-large;
}
.img_div{
    height: 300px;
}
.imgCarousel{
    /* width:100%; */
    height: 300px;
    background: #18cbcb36;
    object-fit: cover;
    border-radius: 10px;

}
.ples{
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 1000;
}
