.RecipeViewContiner{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.199);
    font-size: xx-large;
}
.img_div{
    height: 300px;
}
.imgCarousel{
    /* width:100%; */
    height: 300px;
    background: #05040471;
    object-fit: cover;
    border-radius: 10px;

}
