.myNav{
    height: 64px;
   background-color: rgba(173, 187, 198, 0.621);
   border-radius:  0  0 10px 10px;
   box-shadow:0.25px 0.25px 0.25px 0.25px rgba(68, 76, 83, 0.621) ;
}
.logoNav{
    height: 56px;
    width: fit-content;
    background-color:rgba(255, 255, 255, 0.779);
    border-radius: 50%;
}
.logoNavImg{
    height: 56px;
}
.rtl{
    direction: rtl;
}